@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Shimmer effect on button hover */
body {
    font-family: 'Inter', sans-serif;
}
[x-cloak] {
    display: none !important;
}